section.info-section.card-section
	.container
		.card-wrap.bottom-line
			.row
				.col-12
					.title.black
						h2.title__name 1838 АЗС по всей России
						p.title__sub 566 в СНГ и 333 в Европе
			.row
				.col-12
					.map-wrap
						include ../../../blocks/map/map

			.info-wrap.row
				.col-5
					h3.info-title Сеть «Газпромнефть» - надежный ориентир для автомобилистов России, стран СНГ и Европы. 
					
				.col-5.offset-1
					p.info-text На АЗС «Газпромнефть» мы предоставляем широкий спектр дополнительных услуг: мойка, подкачка шин, экспресс-замена масла, а также качественные товары в дорогу, уютное кафе, терминалы экспресс-оплаты и многое другое.

			.row
				.btn-wrap.col-12
					a(href="#").btn.primary НАЙТИ АЗС НА КАРТЕ