.info-section {
  background-color: $main-color;

  .card-wrap {
    padding: 104px 110px 140px;
    background-color: $white;
    border-radius: 2px;
  }

  .card {
    margin-bottom: 80px;
  }

  .info-wrap {
    margin-bottom: 80px;
  }

  .info-title {
    font-size: 24px;
    line-height: 1.5;
    color: $menu-link;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .info-text {
    font-size: 16px;
    line-height: 1.8;
    color: $menu-link;
  }

  .date-wrap {
    margin-bottom: 54px;
    &:first-child {
      margin-top: 30px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .info-date {
    font-weight: 500;
    font-size: 11px;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $bg-btn;
    margin-bottom: 1px;
  }

  .info-sub-title {
    font-size: 20px;
    line-height: 1.4;
    color: $menu-link;
    font-weight: 400;
  }

  .info-img {
    margin-bottom: 35px;

    img {
      width: 100%;
    }
  }
}

.card-section {
  padding: 0 0 114px;

  .title {
    margin-bottom: 77px;
  }

}

.news-section {
  .title {
    margin-bottom: 48px;
  }
}
