section.info-section.news-section
	.container
		.card-wrap.bottom-line
			.row
				.col-12
					.title.black
						h2.title__name Новости

			.info-wrap.row
				.col-5
					.info-img
						img(src="images/news-img.jpg", alt="")
					h3.info-title Заправляем со скидкой и дарим миллионы подарков 

				.col-5.offset-1
					.date-wrap
						span.info-date 15 АВГУСТА 2019
						h4.info-sub-title Инженер из нижнего Новгорода выиграл Toyota Camry
					.date-wrap
						span.info-date 15 АВГУСТА 2019
						h4.info-sub-title Заправка в рассрочку для водителей Gett такси
					.date-wrap
						span.info-date 15 АВГУСТА 2019
						h4.info-sub-title Сеть АЗС «Газпромнефть» переходит на сезонную реализацию замнего дизельного тполива
			
			.row
				.btn-wrap.col-12
					a(href="#").btn.primary НАЙТИ АЗС НА КАРТЕ