.link {
	display: flex;
	align-items: center;

	&_text {
		.link__name {
			margin: 0;
			text-align: center;
		}

		.link__square {
			// background-color: $bg-btn;
			padding: 20px;
			// border: 1px solid $bg-btn;
		}
	}

	&:hover {
		.link__square {
			background-color: $bg-btn;
			border-color: $bg-btn;
		}
	}

	&_mob {
		width: 288px;
		font-size: 16px;
		display: flex;
		justify-content: center;
		border-radius: 2px;

		.link__square {
			padding: 11px 33px;
			justify-content: flex-start;
		}

		.link__name {
			max-width: 110px;
			line-height: 125%;
			margin-left: 35px;
		}

		.link__img {
			width: 100%;
		}
	}

	&_nosqr {
		.link__square {
			display: none;
			@media screen and (min-width: 1200px) {
				display: flex;
			}
		}

		.link__info {
			margin: 0;
			max-width: 155px;
			width: 100%;
			@media screen and (min-width: 1200px) {
				max-width: 100%;
				margin: 0 0 0 15px;
				width: auto;
			}
		}
	}

	&_mail {
		.link__square {
			min-height: auto;
			padding: 12px 13px;
			@media screen and (min-width: 768px) {
				padding: 18px 30px;
			}
			@media screen and (min-width: 1200px) {
				padding: 0;
				min-height: 48px;
			}
		}
		.link__name {
			font-weight: 500;
			font-size: 11px;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: $white;
			margin-left: 7px;
			@media screen and (min-width: 768px) {
				font-size: 12px;
			}
			@media screen and (min-width: 1200px) {
				display: none;
			}
		}

		.link__img {
			@media screen and (min-width: 768px) {
				max-width: 26px;
				width: 100%;
			}
			@media screen and (min-width: 1200px) {
				max-width: 20px;
				width: auto;
			}
		}

		.link__info {
			display: none;
			@media screen and (min-width: 1200px) {
				display: flex;
			}
		}
	}

	&__square {
		transition: $base-transition;
		min-width: 48px;
		min-height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid rgba(255, 255, 255, 0.2);
		border-radius: 2px;

		&_name {
			padding: 15px 20px;
			min-width: 162px;
		}
	}

	&__img {
		max-width: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 100%;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		margin-left: 15px;
	}

	&__number {
		font-weight: 500;
		font-size: 20px;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		color: $white;
		line-height: 1.3;
		@media screen and (min-width: 1200px) {
			line-height: 1;
		}
	}

	&__subtitle {
		font-size: 12px;
		color: rgba(255, 255, 255, 0.7);
	}

	&__title {
		font-weight: 700;
		font-size: 12px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: $white;
	}

	&__name {
		font-size: 16px;
		color: $white;
		margin-left: 18px;

		&_up {
			font-weight: 700;
			font-size: 12px;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
	}
}
