.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;

  &.black {
    .title__name {
      color: $menu-link;
    }
    .title__sub {
      color: $menu-link;
    }
  }

  &__name {
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $white;
    position: relative;
    padding-right: 74px;
    @media screen and (min-width: 768px) {
      font-size: 32px;
      padding: 0;
    }

    &:after {
      position: absolute;
      content: "";
      width: 64px;
      height: 1px;
      background-color: $bg-btn;
      top: 16px;
      right: 0;
      @media screen and (min-width: 768px) {
        width: 120px;
        right: -140px;
      }
    }
  }

  &__sub {
    margin-top: 22px;
    font-weight: 500;
    font-size: 14px;
    line-height: 181%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $white;
    opacity: 0.6;
    @media screen and (min-width: 768px) {
      margin-top: 0;
      font-size: 16px;
    }
  }
}
