.submenu {
	position: fixed;
	width: 100%;
	height: 560px;
	background-color: $white;
	top: 0;
	left: 0;
	z-index: 2;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease;

	&_road {
		.submenu-mobile {
			max-width: 540px!important;
		}
		.submenu-list {
			width: calc(100% - 540px);
		}

		.mobile-info {
			max-width: 100%!important;
		}

		.link__square {
			padding: 15px 20px!important;
		}
	}

	&.active {
		visibility: visible;
		opacity: 1;
	}

	.submenu-content {
		height: 100%;
	}

	.link {
		margin-bottom: 7px;
		min-width: 200px;
	}

	.link__square_name {
		min-width: 100%;
	}

	.submenu-mobile {
		max-width: 435px;
		width: 100%;
		height: 100%;
		background-color: $main-color;
		padding: 160px 50px 50px 120px;
	}

	.title-wrap {
		display: flex;
		flex-direction: column;
	}

	.mobile-title {
		font-weight: 500;
		font-size: 24px;
		line-height: 1.3;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: $white;
		padding-bottom: 18px;
		margin-bottom: 23px;
		position: relative;
		&:after {
			position: absolute;
			content: "";
			width: 48px;
			height: 1px;
			background-color: $bg-btn;
			left: 0;
			bottom: 0;
		}
	}

	.mobile-info {
		max-width: 235px;
		width: 100%;
		font-size: 16px;
		line-height: 1.4;
		color: rgba(255, 255, 255, 0.7);
		margin: 0 0 32px;
	}

	.submenu-list {
		width: calc(100% - 435px);
		padding: 160px 160px 50px 112px;

		.full {
			li {
				width: 100%;
			}
		}

		ul {
			width: 100%;
		}

		li {
			width: calc(50% - 17px);
			margin-bottom: 30px;
		}

		a {
			font-size: 24px;
			color: $menu-link;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.submenu-title {
		max-width: 470px;
		width: 100%;
		font-weight: 500;
		font-size: 32px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: $menu-link;
		margin-bottom: 55px;
	}
}
