.map-wrap {
  margin-bottom: 80px;

  svg {
    width: 100%;
  }

  ellipse {
    transition: $base-transition;
    box-shadow: 0px 0px 10px $btn-hover;
    cursor: pointer;

    &:hover {
      fill: $btn-hover;
    }
  }

  circle {
    transition: $base-transition;
    box-shadow: 0px 0px 10px $btn-hover;
    cursor: pointer;

    &:hover {
      fill: $btn-hover;
    }
  }

  .svg-group {
    position: relative;

    &:hover {
      circle {
        fill: $btn-hover;
      }

      text {
        fill: #ccc;
      }
    }
  }

  .svg-text {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #00A3E8;
    padding: 16px 30px;
    margin-bottom: 15px;
    position: absolute;
    top: -50px;
    left: 50%;
  }
}
