$breakpoints: ('xl': 1920px,
	'lg': 1280px,
	'md': 768px,
	'sm': 480px,
	'xs': 460px,
);

$main-color: #0071CE;
$white: #FFFFFF;
$black: #000000;
$menu-link: #5E5E5D;
$btn-hover: #F05E22;
$bg-btn: #00A3E8;

$base-transition: all .3s ease;