.btn {
  font-weight: 700;
  font-size: 14px;
  border: none;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: $bg-btn;
  color: $white;
  border-radius: 0;
  padding: 25px 36px 26px;
  transition: $base-transition;

  &.primary {
    position: relative;
    padding-right: 108px;
    text-align-last: left;
    min-width: 312px;
    margin: 0 auto;
    display: block;

    &:hover {
      color: $white;
      background-color: $btn-hover !important;
    }

    &:after {
      content: "";
      position: absolute;
      width: 72px;
      height: 100%;
      right: 0;
      top: 0;
      background-color: $btn-hover;
    }

    &:before {
      position: absolute;
      z-index: 2;
      content: "";
      width: 19px;
      height: 16px;
      right: 26px;
      top: 50%;
      transform: translateY(-50%);
      @include bg-img-center;
      background-image: url("data:image/svg+xml,%3Csvg width='19' height='16' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 1.5L17 8L10.5 14.5' stroke='white' stroke-width='1.6' stroke-linecap='round'/%3E%3Cpath d='M17 8L1 8' stroke='white' stroke-width='1.6' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    }
  }
}

.arrow-btn {
  width: 64px;
  height: 64px;
  display: block;
  background-color: $btn-hover;
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='16' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 1.5L17 8L10.5 14.5' stroke='white' stroke-width='1.6' stroke-linecap='round'/%3E%3Cpath d='M17 8L1 8' stroke='white' stroke-width='1.6' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}

.btn-wrap {
  display: flex;
  justify-content: center;
}

.contact-btn {
  background-color: $bg-btn;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    color: $white;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
  }

  img {
    width: 20px;
    margin-right: 9px;
  }

  @media screen and (min-width: 1300px) {
    width: 206px;
  }

  &:hover {
    background-color: $main-color;
  }
}
