section.intro-section
	.intro-slider.js-intro-slider
		.swiper-wrapper
			.swiper-slide
				.intro-slide
					img(src="images/intro-slide.jpg", alt="")
					.container
						.stock
							.stock__info
								h3.stock__name ГРАН-ПРИ ДЕСЯТИЛЕТИЯ
								p.stock__text Получите шанс выиграть Toyota Camry и миллионы других призов!
								a(href="#").btn.primary ПОДРОБНЕЕ
			.swiper-slide
				.intro-slide
					img(src="images/intro-slide.jpg", alt="")
					.container
						.stock
							.stock__info
								h3.stock__name ГРАН-ПРИ ДЕСЯТИЛЕТИЯ
								p.stock__text Получите шанс выиграть Toyota Camry и миллионы других призов!
								a(href="#").btn.primary ПОДРОБНЕЕ
			.swiper-slide
				.intro-slide
					img(src="images/intro-slide.jpg", alt="")
					.container
						.stock
							.stock__info
								h3.stock__name ГРАН-ПРИ ДЕСЯТИЛЕТИЯ
								p.stock__text Получите шанс выиграть Toyota Camry и миллионы других призов!
								a(href="#").btn.primary ПОДРОБНЕЕ

		.swiper-nav
			.swiper-button.swiper-button-prev
			.swiper-pagination
			.swiper-button.swiper-button-next
