.intro-section {
  .swiper-slide {
    img {
      width: 100%;
      display: block;
    }
  }

  .intro-slider {
    position: relative;
  }

  .swiper-nav {
    max-width: 1200px;
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: -3px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    height: 48px;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
  }

  .swiper-button {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    width: 64px;
    height: 64px;
    transition: $base-transition;
    background-position: center;
    background-size: 17%;
    background-repeat: no-repeat;
    background-color: $main-color;
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='11' viewBox='0 0 7 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.853516 1.35352L5.08761 5.58761L0.853516 9.8217' stroke='%23FFFFFF' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");

    &:hover {
      background-color: $bg-btn;
    }

    &:after {
      display: none;
    }

    &.swiper-button-disabled {
      opacity: 0.3;
    }

    &.swiper-button-prev {
      right: -1px;
      transform: rotate(180deg);
    }
  }

  .swiper-pagination {
    position: relative;
    width: auto;
    background-color: $main-color;
    color: rgba(255, 255, 255, 0.6);
    height: 64px;
    padding: 20px 27px;
    bottom: 11px;
  }

  .swiper-pagination-current {
    color: $white !important;
  }

  // .swiper-pagination {
  //   @media screen and (min-width: 768px) {
  //     display: none;
  //   }
  // }

  .container {
    position: relative;
  }

  .stock {
    position: absolute;
    z-index: 1;
    left: 15px;
    bottom: -64px;
    width: 425px;

    &__info {
      position: relative;
      opacity: 1;
      visibility: visible;
      bottom: auto;
      padding: 52px 64px;
      min-height: 366px;
    }

    &__name {
      position: relative;
      font-size: 32px;
      line-height: 138%;
      padding-bottom: 20px;
      margin-bottom: 20px;
      &:before {
        position: absolute;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(0, 163, 232, 0.2);
      }
    }

    .btn {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 23px 92px 23px 22px;
      min-width: auto;
      background-color: $main-color;
      font-size: 12px;
    }
  }
}
