extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		include ../sections/index/intro-section/intro-section
		include ../sections/index/all-stocks-section/all-stocks-section
		include ../sections/index/profit-section/profit-section
		include ../sections/index/info-section/card-section
		include ../sections/index/services-section/services-section

		include ../sections/index/info-section/news-section
		
block footer
	include ../blocks/footer/footer

block script
	script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
	script(src="js/entries/index-slider.js")
	script(src="js/entries/tabs.js")