.brand-wrap {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	padding-top: 23px;
	margin-top: 32px;
	width: 100%;
	@media screen and (min-width: 768px) {
		width: auto;
		padding: 0;
		border: none;
		margin: 0;
	}

	.brand {
		width: calc(50% - 12px);
		margin-bottom: 10px;
		&:last-child {
			margin-right: 0;
		}
		@media screen and (min-width: 1024px) {
			width: auto;
			margin: 0 55px 0 0;
		}
	}
}

.brand {
	&__img {
		width: 59px;
		flex: none;
		margin-right: 17px;
		img {
			width: 100%;
		}
	}

	&__title {
		font-size: 14px;
		color: rgba(255, 255, 255, 0.7);
	}
}
