.header {
  width: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  &__nav {
    background-color: $white;
    margin-bottom: 16px;
  }

  &__nav-menu {
    padding: 19px 40px 26px 38px;
    width: 100%;
  }

  &__contacts {
    &.active {
      opacity: 0;
    }

    nav {
      li {
        @media screen and (min-width: 1300px) {
          margin-right: 24px;
        }
      }

      a {
        color: $white !important;

        &:hover {
          color: $bg-btn !important;
        }
      }
    }
  }

  &__search {
    margin-left: auto;

    a {
      font-weight: 500;
      font-size: 20px;
      line-height: 25px;
      text-align: right;
      text-transform: uppercase;
      color: $white;

      &:hover {
        color: $bg-btn;
      }
    }
  }

  .logo {
    @media screen and (min-width: 1300px) {
      margin-right: 61px;
    }
  }

  .tel-wrap {
    margin: 0 0 0 auto;
    padding: 0 0 0 24px;
    position: relative;

    img {
      position: absolute;
      left: 0;
      top: -1px;
    }

    &:after {
      top: 3px;
    }

    a {
      font-weight: 500;
      font-size: 14px;
      line-height: 1;
      text-transform: uppercase;
      color: $menu-link;
    }
  }

  nav {
    li {
      position: relative;

      &:last-child {
        @media screen and (min-width: 1300px) {
          margin-right: 0;
        }
      }

      @media screen and (min-width: 1300px) {
        margin-right: 32px;
      }

      span {
        position: absolute;
        right: -14px;
        top: 0;
        font-weight: 700;
        font-size: 11px;
        color: $bg-btn;
      }
    }

    a {
      font-weight: 500;
      font-size: 11px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $menu-link;

      &:hover {
        color: $bg-btn;
      }
    }
  }

  .city {
    position: relative;
    padding-left: 19px;
    top: 2px;
    margin-right: 132px;

    &:hover {
      span {
        border-bottom: 1px dashed transparent;
      }
    }

    span {
      display: block;
      font-weight: 500;
      font-size: 11px;
      line-height: 1.2;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $white;
      border-bottom: 1px dashed $white;
      transition: $base-transition;
    }

    &:before {
      content: "";
      position: absolute;
      width: 10px;
      height: 12px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='12' viewBox='0 0 10 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.02884 0C7.75095 0 9.94278 2.08403 9.97813 4.67227C10.0488 5.07563 10.2256 8.33613 5.38236 11.8655C5.27631 11.9664 5.17025 12 5.02884 12H4.99349H4.95813C4.81673 12 4.71067 11.9664 4.60461 11.8655C-0.167919 8.33613 -0.0265105 5.10924 0.00884159 4.67227C0.0441937 2.08403 2.23602 0 4.95813 0H4.99349H5.02884ZM5 7C6.10457 7 7 6.10457 7 5C7 3.89543 6.10457 3 5 3C3.89543 3 3 3.89543 3 5C3 6.10457 3.89543 7 5 7Z' fill='white'/%3E%3C/svg%3E%0A");
    }
  }

  .search {
    cursor: pointer;
    margin-right: 34px;
    width: 18px;
    height: 18px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9.05469' cy='9.05562' r='5.65329' transform='rotate(45 9.05469 9.05562)' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M4.87305 13.2402L1.38686 16.7264' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  }
}

.logo {
  img {
    width: 100%;
    display: block;
  }
}

.arrow-icon {
  position: relative;

  &.active {
    &:after {
      transform: rotate(-180deg);
      top: 11px;
    }

    &:before {
      opacity: 1;
    }
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -35px;
    width: 100%;
    height: 4px;
    background-color: $btn-hover;
    z-index: 1;
    opacity: 0;
    transition: $base-transition;
  }

  &:after {
    content: "";
    position: absolute;
    width: 7px;
    height: 6px;
    top: 9px;
    right: -10px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.63116 4.82843L4.80273 7.65685L1.97431 4.82843' stroke='%2300A3E8' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    transition: $base-transition;
  }
}
