header.header
	.container
		.header__nav.d-flex
			.header__nav-menu.d-flex.align-items-center
				a(href="index.html").logo
					img(src="images/logo.svg", alt="")
				nav
					ul.d-flex
						li.arrow-icon.js-toggle-refuel
							a(href="#") Заправиться
						li.arrow-icon.js-toggle-road
							a(href="#") В дорогу
						li.arrow-icon.js-toggle-loyalty
							a(href="#") Программа лояльности
						li
							span 82
							a(href="#") Акции
				
				.tel-wrap.arrow-icon.d-flex.align-items-center
					img(src="images/acc-icon.svg", alt="")
					a(href="#") +7 (999) 99-99-99

			button(type="button").contact-btn
				img(src="images/mail.svg", alt="")
				span Напишите нам
			
		.header__contacts.d-flex.align-items-center.js-header-contacts
			a(href="#").city
				span Москва
			nav
				ul.d-flex
					li
						a(href="#") Новости
					li
						a(href="#") Контакты
					li
						a(href="#") Стать партнером
					li
						a(href="#") ПОДДЕРЖКА
			.header__search.d-flex.align-items-center
				.search
				a(href="tel:88007005151") 8 800 700 51 51

.submenu.js-refuel-lk
	.submenu-content.d-flex
		.submenu-mobile.d-flex.flex-column
			.title-wrap
				h2.mobile-title ВСЕ, ЧТО НУЖНО – НА ОДНОЙ АЗС
				p.mobile-info Топливо, сопутствующие товары, кафе и сервисы – все на одной АЗС
				.store-wrap.d-flex.flex-column.align-items-start
					a(href="#").link.link_text
						.link__square.link__square_name
							span.link__name.link__name_up НАЙТИ АЗС РЯДОМ
		.submenu-list.d-flex.flex-column
			h2.submenu-title ЗАПРАВИТЬСЯ НА АЗС «ГАЗПРОМНЕФТЬ»
			ul.full.d-flex.flex-wrap
				li
					a(href="#") Поиск АЗС
				li
					a(href="#") Линейки топлива
				li
					a(href="#") Система качества

.submenu.js-loyalty-lk
	.submenu-content.d-flex
		.submenu-mobile.d-flex.flex-column
			.title-wrap
				h2.mobile-title Заправляйтесь выгодно
				p.mobile-info Оплачивайте до 100% покупок на АЗС бонусами.
				.store-wrap.d-flex.flex-column.align-items-start
					a(href="#").link.link_text
						.link__square.link__square_name
							span.link__name.link__name_up ПОДОБРАТЬ КАРТУ
		.submenu-list.d-flex.flex-column
			h2.submenu-title Программа лояльности «Нам по Пути»
			ul.d-flex.flex-wrap
				li
					a(href="#") О программе
				li
					a(href="#") Калькулятор бонусов
				li
					a(href="#") Как стать участником
				li
					a(href="#") Подобрать карту
				li
					a(href="#") Правила программы
				li
					a(href="#") Частые вопросы

//- .submenu.js-lk-lk
//- 	.submenu-content.d-flex
//- 		.submenu-mobile.d-flex.flex-column
//- 			.title-wrap
//- 				h2.mobile-title КАРТА лояльности ВСЕГДА ПОД РУКОЙ
//- 				p.mobile-info В мобильном приложении сети АЗС «Газпромнефть»
//- 				.store-wrap.d-flex.flex-column.align-items-start
//- 					a(href="#").link
//- 						.link__square.link__square_name
//- 							.link__img
//- 								img(src="images/apple.svg", alt="")
//- 							span.link__name Apple Store
//- 					a(href="#").link
//- 						.link__square.link__square_name
//- 							.link__img
//- 								img(src="images/google.svg", alt="")
//- 							span.link__name Google Play
//- 		.submenu-list.d-flex.flex-column
//- 			h2.submenu-title Заправиться
//- 			ul.d-flex.flex-wrap
//- 				li
//- 					a(href="#") Мои карты
//- 				li
//- 					a(href="#") Мои обращения
//- 				li
//- 					a(href="#") Избранное
//- 				li
//- 					a(href="#") Выйти
//- 				li
//- 					a(href="#") Данные и настройки

.submenu.submenu_road.js-road-lk
	.submenu-content.d-flex
		.submenu-mobile.d-flex.flex-column
			.title-wrap
				h2.mobile-title ПОЛЕЗНЫЕ СЕРВИСЫ
				p.mobile-info Все, что нужно вашему автомобилю – мойки, автосервисы, страхование и многое другое в мобильном приложении АЗС «Газпромнефть».
				.store-wrap.d-flex.flex-column.align-items-start
					a(href="#").link
						.link__square.link__square_name
							.link__img
								img(src="images/apple.svg", alt="")
							span.link__name Apple Store
					a(href="#").link
						.link__square.link__square_name
							.link__img
								img(src="images/google.svg", alt="")
							span.link__name Google Play
		.submenu-list.d-flex.flex-column
			h2.submenu-title В ДОРОГУ
			ul.full.d-flex.flex-wrap
				li
					a(href="#") Drive Cafe
				li
					a(href="#") Товары
				li
					a(href="#") Сервисы