section.services-section
	.container
		.title
			h2.title__name УСЛУГИ И ТОВАРЫ НА АЗС
			p.title__sub Все, что нужно вам и вашему автомобилю

		.tabs.d-flex.justify-content-between.js-tabs
			.tabs__list.d-flex.align-items-center.js-tabs-item
				li.tabs__item.active
					.icon-wrap.store.d-flex.flex-column.align-items-center
						span КАФЕ и магазины
						.icon.icon-store
					img(src="images/g1-active.svg", alt="").img-active
					img(src="images/g1.svg", alt="").img
				li.tabs__item
					.icon-wrap.gas.d-flex.flex-column.align-items-center
						span Топливо
						.icon.icon-gas
					img(src="images/g2-active.svg", alt="").img-active
					img(src="images/g2.svg", alt="").img
			
			.tabs__wrap
				.tabs__content
					.tabs__body.js-tabs-content.active
						h3 Кафе и магазины
						p Оптимальное топливо Опти для продления службы двигателя и оптимизации расхода. Премиальное топливо G-Drive — для дополнительной мощности и динамики.
						a(href="#").btn.primary ЛИНЕЙКИ ТОПЛИВА
				.tabs__content
					.tabs__body.js-tabs-content
						h3 Топливо
						p В наших агазинах вы найдете широкий ассортимент сопутствующих товаров, в том числе под собственными торговыми марками, и кафе под брендом Drive Cafe.
						a(href="#").btn.primary ЛИНЕЙКИ ТОПЛИВА