.services-section {
  padding: 0 0 86px;
  background-color: $main-color;

  .container {
    max-width: 1140px;
  }

  .title {
    margin-bottom: 120px;
  }

  .tabs {
    &__list {
      width: 330px;
      position: relative;
      margin: 0 auto;
      @media screen and (min-width: 768px) {
        width: 550px;
      }

      @media screen and (min-width: 1024px) {
        margin: 0 73px 0 0;
        width: 100%;
      }
    }

    &__wrap {
      display: none;
      @media screen and (min-width: 1024px) {
        display: block;
      }
    }

    &__item {
      cursor: pointer;
      transition: all 0.3s ease;
      z-index: 2;

      &:nth-child(1) {
        img {
          height: 145px;
          @media screen and (min-width: 768px) {
            height: 224px;
          }
        }

        &.active {
          @media screen and (min-width: 768px) {
            .icon {
              background-image: url("data:image/svg+xml,%3Csvg width='34' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='a' maskUnits='userSpaceOnUse' x='-.148' y='0' width='34' height='30' fill='%23000'%3E%3Cpath fill='%23fff' d='M-.148 0h34v30h-34z'/%3E%3Cpath d='M32.974 10.726l-2.271-9.43a.383.383 0 00-.138-.213.394.394 0 00-.242-.083H4.246a.394.394 0 00-.372.267L.928 10.269v.01a2.954 2.954 0 00-.058.235l-.01.05a.374.374 0 00-.008.076c0 1.327.975 2.516 2.228 2.87l-.02 14.83c0 .174.07.341.194.465a.676.676 0 00.471.195h26.381c.178 0 .348-.07.474-.194a.656.656 0 00.196-.466l.006-14.809c1.296-.291 2.2-1.296 2.2-2.563v-.153c.001-.03-.002-.06-.008-.09zM7.515 1.769h4.158l-.268 9.034v.011c0 1.084-1.111 2.034-2.379 2.034-1.106 0-2.109-.93-2.201-2.037l.69-9.042zm4.94 0h3.982l.168 9.046c0 1.122-.992 2.033-2.212 2.033-1.22 0-2.207-.91-2.211-2.03l.272-9.05zm4.763 0h3.68l.907 9.06c-.01 1.115-.997 2.02-2.212 2.02-1.215 0-2.212-.913-2.212-2.035v-.004l-.163-9.041zm5.366 9.045v-.017-.02l-.902-9.008h3.92l1.4 9.07c-.014 1.11-.998 2.01-2.208 2.01-1.209 0-2.21-.913-2.21-2.035zm-20.953-.136v-.011c.012-.057.025-.112.041-.168l2.86-8.73h2.2l-.688 9.016c-.08 1.118-1.09 2.062-2.204 2.062-1.165.001-2.188-1.008-2.21-2.17zm25.342 17.556H20.65V16.768h6.323v11.466zm3.023 0h-2.242v-11.85c0-.103-.041-.2-.114-.273a.393.393 0 00-.276-.112H20.26a.393.393 0 00-.276.112.382.382 0 00-.115.272v11.848H3.84l.02-14.614c1.076-.007 2.053-.625 2.574-1.523.525.903 1.51 1.523 2.593 1.523 1.163 0 2.204-.592 2.752-1.448.272.44.654.804 1.109 1.057a3.102 3.102 0 002.987.017 3.048 3.048 0 001.12-1.045c.276.434.66.793 1.114 1.04a3.102 3.102 0 002.973 0 3.045 3.045 0 001.113-1.04c.276.434.66.793 1.114 1.04a3.103 3.103 0 002.973 0 3.046 3.046 0 001.113-1.04 3 3 0 001.112 1.047c.456.249.97.377 1.49.372h.008l-.008 14.617zm2.206-17.264c0 1.072-.95 1.881-2.208 1.881-1.219 0-2.212-.912-2.212-2.034v-.009-.04-.009l-1.39-8.99h3.623l2.188 9.089v.112z'/%3E%3C/mask%3E%3Cpath d='M32.974 10.726l-2.271-9.43a.383.383 0 00-.138-.213.394.394 0 00-.242-.083H4.246a.394.394 0 00-.372.267L.928 10.269v.01a2.954 2.954 0 00-.058.235l-.01.05a.374.374 0 00-.008.076c0 1.327.975 2.516 2.228 2.87l-.02 14.83c0 .174.07.341.194.465a.676.676 0 00.471.195h26.381c.178 0 .348-.07.474-.194a.656.656 0 00.196-.466l.006-14.809c1.296-.291 2.2-1.296 2.2-2.563v-.153c.001-.03-.002-.06-.008-.09zM7.515 1.769h4.158l-.268 9.034v.011c0 1.084-1.111 2.034-2.379 2.034-1.106 0-2.109-.93-2.201-2.037l.69-9.042zm4.94 0h3.982l.168 9.046c0 1.122-.992 2.033-2.212 2.033-1.22 0-2.207-.91-2.211-2.03l.272-9.05zm4.763 0h3.68l.907 9.06c-.01 1.115-.997 2.02-2.212 2.02-1.215 0-2.212-.913-2.212-2.035v-.004l-.163-9.041zm5.366 9.045v-.017-.02l-.902-9.008h3.92l1.4 9.07c-.014 1.11-.998 2.01-2.208 2.01-1.209 0-2.21-.913-2.21-2.035zm-20.953-.136v-.011c.012-.057.025-.112.041-.168l2.86-8.73h2.2l-.688 9.016c-.08 1.118-1.09 2.062-2.204 2.062-1.165.001-2.188-1.008-2.21-2.17zm25.342 17.556H20.65V16.768h6.323v11.466zm3.023 0h-2.242v-11.85c0-.103-.041-.2-.114-.273a.393.393 0 00-.276-.112H20.26a.393.393 0 00-.276.112.382.382 0 00-.115.272v11.848H3.84l.02-14.614c1.076-.007 2.053-.625 2.574-1.523.525.903 1.51 1.523 2.593 1.523 1.163 0 2.204-.592 2.752-1.448.272.44.654.804 1.109 1.057a3.102 3.102 0 002.987.017 3.048 3.048 0 001.12-1.045c.276.434.66.793 1.114 1.04a3.102 3.102 0 002.973 0 3.045 3.045 0 001.113-1.04c.276.434.66.793 1.114 1.04a3.103 3.103 0 002.973 0 3.046 3.046 0 001.113-1.04 3 3 0 001.112 1.047c.456.249.97.377 1.49.372h.008l-.008 14.617zm2.206-17.264c0 1.072-.95 1.881-2.208 1.881-1.219 0-2.212-.912-2.212-2.034v-.009-.04-.009l-1.39-8.99h3.623l2.188 9.089v.112z' fill='%23fff'/%3E%3Cpath d='M30.703 1.296l-.39.093.39-.093zM30.323 1v.4V1zM4.246 1V.6 1zm-.372.267l.38.124-.38-.124zM.928 10.269l-.38-.125-.02.061v.064h.4zm0 .01l.384.113.016-.055v-.058h-.4zm-.058.235l.391.082-.391-.082zm-.01.05l-.392-.081.391.081zm-.008.076h.4-.4zm2.228 2.87h.4v-.302l-.291-.083-.109.385zm-.02 14.83h-.4.4zm.665.66l-.002.4h.002V29zm26.381 0v.4-.4zm.67-.66h.4-.4zm.006-14.809l-.088-.39-.312.07v.32h.4zm2.2-2.716l-.4-.005v.005h.4zM7.516 1.77v-.4h-.37l-.029.37.4.03zm4.158 0l.4.012.012-.412h-.412v.4zm-.268 9.034l-.4-.012v.012h.4zm-4.58.008l-.399-.03-.002.031.002.032.399-.033zm5.63-9.042v-.4h-.389l-.011.388.4.012zm3.982 0l.4-.008-.007-.392h-.393v.4zm.168 9.046h.4v-.007l-.4.007zm-4.423.002l-.4-.012v.014l.4-.002zm5.036-9.048v-.4h-.407l.007.407.4-.007zm3.68 0l.399-.04-.037-.36h-.362v.4zm.907 9.06l.4.003v-.022l-.002-.021-.398.04zm-4.424-.019h.4v-.007l-.4.007zm5.203-.034h.4v-.02l-.001-.02-.399.04zm-.902-9.007v-.4h-.442l.044.44.398-.04zm3.92 0l.395-.061-.052-.34h-.343v.4zm1.4 9.07l.4.005.001-.033-.005-.033-.395.061zm-25.371-.161h-.4v.007l.4-.007zm0-.011l-.392-.082-.008.04v.042h.4zm.041-.168l-.38-.124-.003.011.383.114zm2.86-8.73v-.4h-.29l-.09.275.38.125zm2.2 0l.399.03.033-.43h-.432v.4zm-.688 9.016l-.399-.03v.002l.399.028zM3.84 12.847v-.4.4zm23.133 15.387v.4h.4v-.4h-.4zm-6.323 0h-.4v.4h.4v-.4zm0-11.466v-.4h-.4v.4h.4zm6.323 0h.4v-.4h-.4v.4zm3.023 11.466v.4h.4v-.4h-.4zm-2.242 0h-.4v.4h.4v-.4zm0-11.85h.4-.4zM19.869 28.23v.4h.4v-.4h-.4zm-16.03 0h-.4v.4h.4v-.4zm.02-14.614l-.003-.4-.397.002v.397h.4zm2.574-1.523l.346-.201-.347-.596-.345.596.346.2zm5.345.075l.34-.21-.334-.54-.343.534.337.216zm5.217.03l.338-.215-.338-.533-.338.533.338.214zm2.6 1.418v.4-.4zm2.6-1.419l.337-.214-.338-.532-.337.532.337.214zm5.2 0l.339-.211-.336-.54-.341.537.337.214zm2.601 1.42v-.4h-.003l.003.4zm.008 0h.4v-.4h-.4v.4zm2.198-2.648l-.4-.003v.003h.4zm-4.42-.203h.4v-.023l-.003-.023-.397.046zm0-.008l.397.046.007-.054-.009-.053-.395.061zm-1.39-8.99v-.4h-.467l.072.461.395-.061zm3.623 0l.388-.094-.073-.306h-.315v.4zm2.188 9.089l.4.002v-.049l-.011-.047-.39.094zm1.16-.226l-2.271-9.43-.778.188 2.27 9.43.778-.188zm-2.271-9.43a.784.784 0 00-.281-.435l-.492.631a.017.017 0 01-.005-.009l.778-.186zM30.81.768A.794.794 0 0030.323.6v.8l-.004-.002.492-.63zM30.323.6H4.246v.8h26.077V.6zM4.246.6a.794.794 0 00-.463.149l.466.65a.006.006 0 01-.003.001V.6zm-.463.149a.785.785 0 00-.289.393l.76.249a.015.015 0 01-.005.008l-.466-.65zm-.289.393L.548 10.144l.76.25L4.255 1.39l-.76-.249zM.528 10.27V10.28h.8v-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001h-.8zm.017-.103a3.356 3.356 0 00-.067.267l.784.162c.014-.069.03-.137.05-.203l-.767-.226zm-.067.267l-.01.05.783.163.01-.05-.783-.163zm-.01.05a.774.774 0 00-.016.158h.8l-.001.004-.783-.162zm-.016.157c0 1.52 1.108 2.856 2.52 3.255l.217-.77c-1.094-.309-1.937-1.35-1.937-2.485h-.8zm2.228 2.87l-.02 14.83h.8l.02-14.83h-.8zm-.02 14.83c0 .282.113.551.313.75l.563-.569a.255.255 0 01-.077-.181h-.8zm.313.75c.2.197.47.308.75.31l.005-.8a.276.276 0 01-.192-.079l-.563.568zm.752.31h26.381v-.8H3.726v.8zm26.382 0c.281 0 .553-.11.753-.308l-.56-.57a.276.276 0 01-.194.078v.8zm.753-.308c.202-.199.316-.469.316-.752h-.8a.256.256 0 01-.077.181l.561.57zm.316-.752l.006-14.808h-.8l-.006 14.808h.8zm-.306-14.418c1.45-.327 2.513-1.472 2.513-2.954h-.8c0 1.053-.746 1.916-1.889 2.173l.176.78zm2.513-2.954v-.153h-.8v.154h.8zm0-.148c0-.06-.006-.12-.019-.18l-.781.171.8.01zM7.515 2.17h4.158v-.8H7.515v.8zm3.758-.412l-.268 9.034.8.024.268-9.034-.8-.024zm.132 9.046h-.4v.005h.8v-.001-.001-.001-.001h-.4zm-.4.005v.006h.8v-.001-.001-.001-.001-.001h-.8zm0 .006c0 .807-.872 1.634-1.979 1.634v.8c1.428 0 2.779-1.072 2.779-2.434h-.8zm-1.979 1.634c-.895 0-1.727-.768-1.802-1.67l-.798.066c.11 1.312 1.284 2.404 2.6 2.404v-.8zm-1.802-1.607l.69-9.042-.798-.06-.69 9.041.798.061zm5.23-8.672h3.983v-.8h-3.983v.8zm3.584-.393l.167 9.047.8-.015-.168-9.047-.8.015zm.167 9.04c0 .869-.78 1.632-1.811 1.632v.8c1.408 0 2.611-1.06 2.611-2.433h-.8zm-1.811 1.632c-1.03 0-1.81-.762-1.812-1.632l-.8.003c.005 1.37 1.202 2.43 2.611 2.43v-.8zm-1.812-1.619l.272-9.048-.8-.024-.272 9.048.8.024zm4.636-8.66h3.68v-.8h-3.68v.8zm3.282-.36l.907 9.06.796-.08-.906-9.06-.797.08zm.905 9.017c-.008.865-.785 1.622-1.812 1.622v.8c1.403 0 2.6-1.051 2.612-2.416l-.8-.006zm-1.812 1.622c-1.027 0-1.812-.764-1.812-1.634h-.8c0 1.374 1.209 2.434 2.612 2.434v-.8zm-2.212-1.634h.4v-.001-.001-.001h-.8v.003h.4zm.4-.011l-.163-9.041-.8.014.163 9.042.8-.015zm5.204.011v-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001h-.8V10.815h.8zm0-.017v-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001h-.8V10.798h.8zm-.002-.06l-.903-9.008-.796.08.902 9.007.797-.08zm-1.3-8.568h3.92v-.8h-3.92v.8zm3.524-.34l1.4 9.071.791-.122-1.4-9.07-.791.122zm1.396 9.005c-.011.862-.788 1.614-1.809 1.614v.8c1.398 0 2.591-1.045 2.609-2.404l-.8-.01zm-1.809 1.614c-1.021 0-1.81-.764-1.81-1.634h-.8c0 1.374 1.213 2.434 2.61 2.434v-.8zm-22.763-1.77v-.011h-.8v.01h.8zm-.009.07c.01-.047.021-.092.034-.135l-.767-.227c-.02.067-.036.134-.05.2l.783.162zm.03-.124l2.86-8.73-.76-.25-2.86 8.731.76.249zm2.48-8.455h2.2v-.8h-2.2v.8zm1.801-.43l-.688 9.016.798.06L7.13 1.8l-.798-.06zm-.688 9.018c-.065.91-.902 1.69-1.805 1.69v.8c1.326 0 2.508-1.108 2.603-2.433l-.798-.057zm-1.806 1.69c-.945.001-1.791-.833-1.808-1.776l-.8.014c.025 1.378 1.225 2.564 2.61 2.561l-.002-.8zm23.134 15.387H20.65v.8h6.323v-.8zm-5.923.4V16.768h-.8v11.466h.8zm-.4-11.066h6.323v-.8H20.65v.8zm5.923-.4v11.466h.8V16.768h-.8zm3.423 11.066h-2.242v.8h2.242v-.8zm-1.842.4v-11.85h-.8v11.85h.8zm0-11.85c0-.21-.085-.41-.234-.558l-.561.57a.019.019 0 01-.005-.013h.8zm-.234-.558a.793.793 0 00-.556-.227v.8s-.003 0-.005-.003l.561-.57zm-.556-.227H20.26v.8h7.104v-.8zm-7.104 0a.793.793 0 00-.557.227l.561.57c-.002.003-.004.003-.004.003v-.8zm-.557.227a.781.781 0 00-.234.557h.8c0 .006-.002.011-.005.014l-.561-.57zm-.234.557v11.848h.8V16.383h-.8zm.4 11.448H3.84v.8h16.03v-.8zm-15.63.4l.02-14.614h-.8l-.02 14.614h.8zM3.86 14.018c1.228-.008 2.33-.71 2.918-1.723l-.692-.401c-.455.785-1.307 1.318-2.23 1.324l.004.8zm2.226-1.722c.591 1.017 1.702 1.722 2.94 1.722v-.8c-.931 0-1.79-.535-2.248-1.324l-.692.402zm2.94 1.722c1.295 0 2.464-.658 3.088-1.632l-.674-.431c-.473.737-1.384 1.263-2.415 1.263v.8zm2.41-1.637c.309.498.741.91 1.255 1.196l.39-.699a2.644 2.644 0 01-.964-.918l-.68.42zm1.255 1.196a3.501 3.501 0 001.684.441l.004-.8a2.7 2.7 0 01-1.299-.34l-.389.699zm1.684.441a3.504 3.504 0 001.689-.422l-.382-.704a2.702 2.702 0 01-1.303.326l-.004.8zm1.689-.422c.517-.281.954-.688 1.268-1.183l-.676-.428c-.24.379-.575.691-.974.907l.382.704zm.592-1.183c.312.492.746.897 1.26 1.178l.383-.702a2.646 2.646 0 01-.967-.904l-.676.428zm1.26 1.178c.513.28 1.09.427 1.677.427v-.8c-.453 0-.898-.113-1.294-.33l-.383.703zm1.677.427c.587 0 1.165-.147 1.678-.427l-.383-.702c-.396.216-.841.33-1.294.33v.8zm1.678-.427c.514-.28.948-.686 1.26-1.178l-.675-.428a2.646 2.646 0 01-.968.904l.383.702zm.585-1.178c.312.492.745.897 1.26 1.178l.383-.702a2.647 2.647 0 01-.968-.904l-.675.428zm1.26 1.178c.513.28 1.09.427 1.677.427v-.8c-.453 0-.899-.113-1.294-.33l-.384.703zm1.677.427c.587 0 1.164-.147 1.678-.427l-.383-.702c-.396.216-.841.33-1.295.33v.8zm1.678-.427c.514-.28.948-.686 1.26-1.178l-.675-.428c-.24.376-.572.688-.968.904l.383.702zm.583-1.18c.309.496.743.905 1.259 1.186l.383-.702a2.6 2.6 0 01-.963-.907l-.68.422zm1.259 1.186a3.458 3.458 0 001.686.421l-.007-.8c-.454.004-.9-.107-1.296-.323l-.383.702zm1.682.421h.008v-.8h-.008v.8zm-.392-.4l-.008 14.616h.8l.008-14.616h-.8zm2.198-2.647c0 .794-.708 1.481-1.808 1.481v.8c1.417 0 2.608-.93 2.608-2.281h-.8zm-1.808 1.481c-1.03 0-1.812-.764-1.812-1.634h-.8c0 1.373 1.205 2.434 2.612 2.434v-.8zm-2.212-1.634h.4v-.001-.001-.001-.001-.001-.001-.001-.001h-.8v.007h.4zm.4-.009v-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001h-.8V10.809h.8zm0-.02v-.02h-.8v.02h.8zm-.003-.067a.36.36 0 010 .084l-.794-.092a.437.437 0 000 .1l.794-.092zm-.002-.023l-1.39-8.99-.79.122 1.39 8.99.79-.122zm-1.785-8.53h3.623v-.8h-3.623v.8zm3.234-.305l2.188 9.088.778-.187-2.189-9.089-.777.188zm2.177 8.992v.112l.8.005v-.112l-.8-.005z' fill='%23fff' mask='url(%23a)'/%3E%3Cpath d='M16.706 16.8H7.294a.483.483 0 00-.355.158.533.533 0 00-.139.36v6.363c0 .133.048.263.14.361a.483.483 0 00.354.158h9.412a.483.483 0 00.355-.158.533.533 0 00.139-.36v-6.363a.533.533 0 00-.14-.361.483.483 0 00-.354-.158zm-.494 6.363H7.788v-5.326h8.424v5.326z' fill='%23fff' stroke='%23fff' stroke-width='.4'/%3E%3C/svg%3E");
            }
          }
        }
      }

      &:nth-child(2) {
        position: absolute;
        left: 30px;
        top: 95px;
        @media screen and (min-width: 768px) {
          left: 168px;
          top: 95px;
        }
        @media screen and (min-width: 1024px) {
          top: 214px;
        }
        img {
          height: 175px;
          @media screen and (min-width: 768px) {
            height: auto;
          }
        }

        &.active {
          .icon {
            @media screen and (min-width: 768px) {
              background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8797 15.1699L11.6177 14.4952L10.8718 13.6792L10.1345 14.503L10.8797 15.1699ZM10.8797 15.1699C11.6177 14.4952 11.6178 14.4953 11.6179 14.4954L11.6182 14.4957L11.6189 14.4965L11.6211 14.4989L11.6287 14.5073L11.6562 14.5377C11.6798 14.5639 11.7136 14.6016 11.7562 14.6498C11.8414 14.7461 11.9621 14.8841 12.1064 15.0541C12.3942 15.393 12.7802 15.8637 13.1685 16.386C13.5539 16.9045 13.9565 17.4939 14.2672 18.068C14.5565 18.6026 14.8522 19.2753 14.8522 19.9159C14.8522 22.213 13.1859 24.0848 10.8797 24.0848C8.5796 24.0848 6.91602 22.2211 6.91602 19.9299C6.91602 19.2983 7.21372 18.6282 7.49932 18.0997C7.80806 17.5283 8.20833 16.9371 8.59182 16.4148C8.9781 15.8888 9.36225 15.4128 9.64867 15.0694C9.7923 14.8972 9.91234 14.7572 9.99706 14.6596C10.0395 14.6108 10.0731 14.5725 10.0964 14.546L10.1237 14.5152L10.1312 14.5067L10.1334 14.5043L10.1341 14.5035L10.1343 14.5032C10.1344 14.5031 10.1345 14.503 10.8797 15.1699Z' stroke='white' stroke-width='2'/%3E%3Cpath d='M1 5.99999C1 3.23857 3.23857 1 6 1H15.766C18.5274 1 20.766 3.23858 20.766 6V29.6596C20.766 30.2119 20.3182 30.6596 19.766 30.6596H2C1.44772 30.6596 1 30.2119 1 29.6596V5.99999Z' stroke='white' stroke-width='2'/%3E%3Cpath d='M21.7656 13.6624H22.0529C24.262 13.6624 26.0529 15.4533 26.0529 17.6624V19.9519C26.0529 21.3179 27.1602 22.4253 28.5263 22.4253V22.4253C29.8923 22.4253 30.9997 21.3179 30.9997 19.9519V8.75969C30.9997 7.98778 30.7763 7.23235 30.3566 6.58454L27.372 1.97852' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
            }
          }
        }
      }

      .img-active {
        @media screen and (min-width: 768px) {
          display: none;
          transition: all 0.3s ease;
        }
      }
      .img {
        display: none;
        @media screen and (min-width: 768px) {
          display: block;
        }
      }
      &.active {
        @media screen and (min-width: 768px) {
          z-index: 1;

          .img-active {
            display: block;
          }

          .img {
            display: none;
            transition: all 0.3s ease;
          }

          .icon {
            background-color: $btn-hover;
            box-shadow: 0px 0px 16px $btn-hover;
          }
        }
      }
    }

    &__content {
      flex: none;
      width: 445px;
    }

    &__body {
      padding: 50px 64px 75px;
      background-color: $white;
      opacity: 0;
      visibility: hidden;
      transition: all 3s ease;
      display: none;

      &.active {
        @media screen and (min-width: 768px) {
          display: block;
          visibility: visible;
          opacity: 1;
        }
      }

      h3 {
        font-weight: 400;
        font-size: 32px;
        line-height: 1.5;
        color: $menu-link;
        padding-bottom: 30px;
        margin-bottom: 35px;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 48px;
          height: 1px;
          background-color: $bg-btn;
        }
      }

      p {
        font-size: 16px;
        line-height: 1.8;
        color: $menu-link;
        margin-bottom: 50px;
      }
    }

    .icon-wrap {
      position: absolute;

      &.store {
        left: 0;
        top: -80px;
        @media screen and (min-width: 768px) {
          left: 12px;
          top: -65px;
        }
        @media screen and (min-width: 1024px) {
          top: 65px;
        }
      }

      &.gas {
        top: -110px;
        right: -10px;
        @media screen and (min-width: 768px) {
          top: -80px;
          right: 95px;
        }
      }

      span {
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $white;
        background-color: $bg-btn;
        padding: 16px 30px;
        margin-bottom: 15px;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          bottom: -30px;
          left: 50%;
          transform: translateX(-50%);
          border: 20px solid transparent;
          border-top: 20px solid $bg-btn;
        }
      }
    }

    .icon {
      width: 62px;
      height: 62px;
      border-radius: 50%;
      transition: $base-transition;
      background-size: 50%;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      z-index: 2;
      background-color: $btn-hover;
      @media screen and (min-width: 768px) {
        background-color: $white;
      }
    }

    .icon-store {
      @media screen and (min-width: 768px) {
        background-image: url("data:image/svg+xml,%3Csvg width='34' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='a' maskUnits='userSpaceOnUse' x='-.148' y='0' width='34' height='30' fill='%23000'%3E%3Cpath fill='%23fff' d='M-.148 0h34v30h-34z'/%3E%3Cpath d='M32.974 10.726l-2.271-9.43a.383.383 0 00-.138-.213.394.394 0 00-.242-.083H4.246a.394.394 0 00-.372.267L.928 10.269v.01a2.954 2.954 0 00-.058.235l-.01.05a.374.374 0 00-.008.076c0 1.327.975 2.516 2.228 2.87l-.02 14.83c0 .174.07.341.194.465a.676.676 0 00.471.195h26.381c.178 0 .348-.07.474-.194a.656.656 0 00.196-.466l.006-14.809c1.296-.291 2.2-1.296 2.2-2.563v-.153c.001-.03-.002-.06-.008-.09zM7.515 1.769h4.158l-.268 9.034v.011c0 1.084-1.111 2.034-2.379 2.034-1.106 0-2.109-.93-2.201-2.037l.69-9.042zm4.94 0h3.982l.168 9.046c0 1.122-.992 2.033-2.212 2.033-1.22 0-2.207-.91-2.211-2.03l.272-9.05zm4.763 0h3.68l.907 9.06c-.01 1.115-.997 2.02-2.212 2.02-1.215 0-2.212-.913-2.212-2.035v-.004l-.163-9.041zm5.366 9.045v-.017-.02l-.902-9.008h3.92l1.4 9.07c-.014 1.11-.998 2.01-2.208 2.01-1.209 0-2.21-.913-2.21-2.035zm-20.953-.136v-.011c.012-.057.025-.112.041-.168l2.86-8.73h2.2l-.688 9.016c-.08 1.118-1.09 2.062-2.204 2.062-1.165.001-2.188-1.008-2.21-2.17zm25.342 17.556H20.65V16.768h6.323v11.466zm3.023 0h-2.242v-11.85c0-.103-.041-.2-.114-.273a.393.393 0 00-.276-.112H20.26a.393.393 0 00-.276.112.382.382 0 00-.115.272v11.848H3.84l.02-14.614c1.076-.007 2.053-.625 2.574-1.523.525.903 1.51 1.523 2.593 1.523 1.163 0 2.204-.592 2.752-1.448.272.44.654.804 1.109 1.057a3.102 3.102 0 002.987.017 3.048 3.048 0 001.12-1.045c.276.434.66.793 1.114 1.04a3.102 3.102 0 002.973 0 3.045 3.045 0 001.113-1.04c.276.434.66.793 1.114 1.04a3.103 3.103 0 002.973 0 3.046 3.046 0 001.113-1.04 3 3 0 001.112 1.047c.456.249.97.377 1.49.372h.008l-.008 14.617zm2.206-17.264c0 1.072-.95 1.881-2.208 1.881-1.219 0-2.212-.912-2.212-2.034v-.009-.04-.009l-1.39-8.99h3.623l2.188 9.089v.112z'/%3E%3C/mask%3E%3Cpath d='M32.974 10.726l-2.271-9.43a.383.383 0 00-.138-.213.394.394 0 00-.242-.083H4.246a.394.394 0 00-.372.267L.928 10.269v.01a2.954 2.954 0 00-.058.235l-.01.05a.374.374 0 00-.008.076c0 1.327.975 2.516 2.228 2.87l-.02 14.83c0 .174.07.341.194.465a.676.676 0 00.471.195h26.381c.178 0 .348-.07.474-.194a.656.656 0 00.196-.466l.006-14.809c1.296-.291 2.2-1.296 2.2-2.563v-.153c.001-.03-.002-.06-.008-.09zM7.515 1.769h4.158l-.268 9.034v.011c0 1.084-1.111 2.034-2.379 2.034-1.106 0-2.109-.93-2.201-2.037l.69-9.042zm4.94 0h3.982l.168 9.046c0 1.122-.992 2.033-2.212 2.033-1.22 0-2.207-.91-2.211-2.03l.272-9.05zm4.763 0h3.68l.907 9.06c-.01 1.115-.997 2.02-2.212 2.02-1.215 0-2.212-.913-2.212-2.035v-.004l-.163-9.041zm5.366 9.045v-.017-.02l-.902-9.008h3.92l1.4 9.07c-.014 1.11-.998 2.01-2.208 2.01-1.209 0-2.21-.913-2.21-2.035zm-20.953-.136v-.011c.012-.057.025-.112.041-.168l2.86-8.73h2.2l-.688 9.016c-.08 1.118-1.09 2.062-2.204 2.062-1.165.001-2.188-1.008-2.21-2.17zm25.342 17.556H20.65V16.768h6.323v11.466zm3.023 0h-2.242v-11.85c0-.103-.041-.2-.114-.273a.393.393 0 00-.276-.112H20.26a.393.393 0 00-.276.112.382.382 0 00-.115.272v11.848H3.84l.02-14.614c1.076-.007 2.053-.625 2.574-1.523.525.903 1.51 1.523 2.593 1.523 1.163 0 2.204-.592 2.752-1.448.272.44.654.804 1.109 1.057a3.102 3.102 0 002.987.017 3.048 3.048 0 001.12-1.045c.276.434.66.793 1.114 1.04a3.102 3.102 0 002.973 0 3.045 3.045 0 001.113-1.04c.276.434.66.793 1.114 1.04a3.103 3.103 0 002.973 0 3.046 3.046 0 001.113-1.04 3 3 0 001.112 1.047c.456.249.97.377 1.49.372h.008l-.008 14.617zm2.206-17.264c0 1.072-.95 1.881-2.208 1.881-1.219 0-2.212-.912-2.212-2.034v-.009-.04-.009l-1.39-8.99h3.623l2.188 9.089v.112z' fill='%2300A3E8'/%3E%3Cpath d='M30.703 1.296l-.39.093.39-.093zM30.323 1v.4V1zM4.246 1V.6 1zm-.372.267l.38.124-.38-.124zM.928 10.269l-.38-.125-.02.061v.064h.4zm0 .01l.384.113.016-.055v-.058h-.4zm-.058.235l.391.082-.391-.082zm-.01.05l-.392-.081.391.081zm-.008.076h.4-.4zm2.228 2.87h.4v-.302l-.291-.083-.109.385zm-.02 14.83h-.4.4zm.665.66l-.002.4h.002V29zm26.381 0v.4-.4zm.67-.66h.4-.4zm.006-14.809l-.088-.39-.312.07v.32h.4zm2.2-2.716l-.4-.005v.005h.4zM7.516 1.77v-.4h-.37l-.029.37.4.03zm4.158 0l.4.012.012-.412h-.412v.4zm-.268 9.034l-.4-.012v.012h.4zm-4.58.008l-.399-.03-.002.031.002.032.399-.033zm5.63-9.042v-.4h-.389l-.011.388.4.012zm3.982 0l.4-.008-.007-.392h-.393v.4zm.168 9.046h.4v-.007l-.4.007zm-4.423.002l-.4-.012v.014l.4-.002zm5.036-9.048v-.4h-.407l.007.407.4-.007zm3.68 0l.399-.04-.037-.36h-.362v.4zm.907 9.06l.4.003v-.022l-.002-.021-.398.04zm-4.424-.019h.4v-.007l-.4.007zm5.203-.034h.4v-.02l-.001-.02-.399.04zm-.902-9.007v-.4h-.442l.044.44.398-.04zm3.92 0l.395-.061-.052-.34h-.343v.4zm1.4 9.07l.4.005.001-.033-.005-.033-.395.061zm-25.371-.161h-.4v.007l.4-.007zm0-.011l-.392-.082-.008.04v.042h.4zm.041-.168l-.38-.124-.003.011.383.114zm2.86-8.73v-.4h-.29l-.09.275.38.125zm2.2 0l.399.03.033-.43h-.432v.4zm-.688 9.016l-.399-.03v.002l.399.028zM3.84 12.847v-.4.4zm23.133 15.387v.4h.4v-.4h-.4zm-6.323 0h-.4v.4h.4v-.4zm0-11.466v-.4h-.4v.4h.4zm6.323 0h.4v-.4h-.4v.4zm3.023 11.466v.4h.4v-.4h-.4zm-2.242 0h-.4v.4h.4v-.4zm0-11.85h.4-.4zM19.869 28.23v.4h.4v-.4h-.4zm-16.03 0h-.4v.4h.4v-.4zm.02-14.614l-.003-.4-.397.002v.397h.4zm2.574-1.523l.346-.201-.347-.596-.345.596.346.2zm5.345.075l.34-.21-.334-.54-.343.534.337.216zm5.217.03l.338-.215-.338-.533-.338.533.338.214zm2.6 1.418v.4-.4zm2.6-1.419l.337-.214-.338-.532-.337.532.337.214zm5.2 0l.339-.211-.336-.54-.341.537.337.214zm2.601 1.42v-.4h-.003l.003.4zm.008 0h.4v-.4h-.4v.4zm2.198-2.648l-.4-.003v.003h.4zm-4.42-.203h.4v-.023l-.003-.023-.397.046zm0-.008l.397.046.007-.054-.009-.053-.395.061zm-1.39-8.99v-.4h-.467l.072.461.395-.061zm3.623 0l.388-.094-.073-.306h-.315v.4zm2.188 9.089l.4.002v-.049l-.011-.047-.39.094zm1.16-.226l-2.271-9.43-.778.188 2.27 9.43.778-.188zm-2.271-9.43a.784.784 0 00-.281-.435l-.492.631a.017.017 0 01-.005-.009l.778-.186zM30.81.768A.794.794 0 0030.323.6v.8l-.004-.002.492-.63zM30.323.6H4.246v.8h26.077V.6zM4.246.6a.794.794 0 00-.463.149l.466.65a.006.006 0 01-.003.001V.6zm-.463.149a.785.785 0 00-.289.393l.76.249a.015.015 0 01-.005.008l-.466-.65zm-.289.393L.548 10.144l.76.25L4.255 1.39l-.76-.249zM.528 10.27V10.28h.8v-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001h-.8zm.017-.103a3.356 3.356 0 00-.067.267l.784.162c.014-.069.03-.137.05-.203l-.767-.226zm-.067.267l-.01.05.783.163.01-.05-.783-.163zm-.01.05a.774.774 0 00-.016.158h.8l-.001.004-.783-.162zm-.016.157c0 1.52 1.108 2.856 2.52 3.255l.217-.77c-1.094-.309-1.937-1.35-1.937-2.485h-.8zm2.228 2.87l-.02 14.83h.8l.02-14.83h-.8zm-.02 14.83c0 .282.113.551.313.75l.563-.569a.255.255 0 01-.077-.181h-.8zm.313.75c.2.197.47.308.75.31l.005-.8a.276.276 0 01-.192-.079l-.563.568zm.752.31h26.381v-.8H3.726v.8zm26.382 0c.281 0 .553-.11.753-.308l-.56-.57a.276.276 0 01-.194.078v.8zm.753-.308c.202-.199.316-.469.316-.752h-.8a.256.256 0 01-.077.181l.561.57zm.316-.752l.006-14.808h-.8l-.006 14.808h.8zm-.306-14.418c1.45-.327 2.513-1.472 2.513-2.954h-.8c0 1.053-.746 1.916-1.889 2.173l.176.78zm2.513-2.954v-.153h-.8v.154h.8zm0-.148c0-.06-.006-.12-.019-.18l-.781.171.8.01zM7.515 2.17h4.158v-.8H7.515v.8zm3.758-.412l-.268 9.034.8.024.268-9.034-.8-.024zm.132 9.046h-.4v.005h.8v-.001-.001-.001-.001h-.4zm-.4.005v.006h.8v-.001-.001-.001-.001-.001h-.8zm0 .006c0 .807-.872 1.634-1.979 1.634v.8c1.428 0 2.779-1.072 2.779-2.434h-.8zm-1.979 1.634c-.895 0-1.727-.768-1.802-1.67l-.798.066c.11 1.312 1.284 2.404 2.6 2.404v-.8zm-1.802-1.607l.69-9.042-.798-.06-.69 9.041.798.061zm5.23-8.672h3.983v-.8h-3.983v.8zm3.584-.393l.167 9.047.8-.015-.168-9.047-.8.015zm.167 9.04c0 .869-.78 1.632-1.811 1.632v.8c1.408 0 2.611-1.06 2.611-2.433h-.8zm-1.811 1.632c-1.03 0-1.81-.762-1.812-1.632l-.8.003c.005 1.37 1.202 2.43 2.611 2.43v-.8zm-1.812-1.619l.272-9.048-.8-.024-.272 9.048.8.024zm4.636-8.66h3.68v-.8h-3.68v.8zm3.282-.36l.907 9.06.796-.08-.906-9.06-.797.08zm.905 9.017c-.008.865-.785 1.622-1.812 1.622v.8c1.403 0 2.6-1.051 2.612-2.416l-.8-.006zm-1.812 1.622c-1.027 0-1.812-.764-1.812-1.634h-.8c0 1.374 1.209 2.434 2.612 2.434v-.8zm-2.212-1.634h.4v-.001-.001-.001h-.8v.003h.4zm.4-.011l-.163-9.041-.8.014.163 9.042.8-.015zm5.204.011v-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001h-.8V10.815h.8zm0-.017v-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001h-.8V10.798h.8zm-.002-.06l-.903-9.008-.796.08.902 9.007.797-.08zm-1.3-8.568h3.92v-.8h-3.92v.8zm3.524-.34l1.4 9.071.791-.122-1.4-9.07-.791.122zm1.396 9.005c-.011.862-.788 1.614-1.809 1.614v.8c1.398 0 2.591-1.045 2.609-2.404l-.8-.01zm-1.809 1.614c-1.021 0-1.81-.764-1.81-1.634h-.8c0 1.374 1.213 2.434 2.61 2.434v-.8zm-22.763-1.77v-.011h-.8v.01h.8zm-.009.07c.01-.047.021-.092.034-.135l-.767-.227c-.02.067-.036.134-.05.2l.783.162zm.03-.124l2.86-8.73-.76-.25-2.86 8.731.76.249zm2.48-8.455h2.2v-.8h-2.2v.8zm1.801-.43l-.688 9.016.798.06L7.13 1.8l-.798-.06zm-.688 9.018c-.065.91-.902 1.69-1.805 1.69v.8c1.326 0 2.508-1.108 2.603-2.433l-.798-.057zm-1.806 1.69c-.945.001-1.791-.833-1.808-1.776l-.8.014c.025 1.378 1.225 2.564 2.61 2.561l-.002-.8zm23.134 15.387H20.65v.8h6.323v-.8zm-5.923.4V16.768h-.8v11.466h.8zm-.4-11.066h6.323v-.8H20.65v.8zm5.923-.4v11.466h.8V16.768h-.8zm3.423 11.066h-2.242v.8h2.242v-.8zm-1.842.4v-11.85h-.8v11.85h.8zm0-11.85c0-.21-.085-.41-.234-.558l-.561.57a.019.019 0 01-.005-.013h.8zm-.234-.558a.793.793 0 00-.556-.227v.8s-.003 0-.005-.003l.561-.57zm-.556-.227H20.26v.8h7.104v-.8zm-7.104 0a.793.793 0 00-.557.227l.561.57c-.002.003-.004.003-.004.003v-.8zm-.557.227a.781.781 0 00-.234.557h.8c0 .006-.002.011-.005.014l-.561-.57zm-.234.557v11.848h.8V16.383h-.8zm.4 11.448H3.84v.8h16.03v-.8zm-15.63.4l.02-14.614h-.8l-.02 14.614h.8zM3.86 14.018c1.228-.008 2.33-.71 2.918-1.723l-.692-.401c-.455.785-1.307 1.318-2.23 1.324l.004.8zm2.226-1.722c.591 1.017 1.702 1.722 2.94 1.722v-.8c-.931 0-1.79-.535-2.248-1.324l-.692.402zm2.94 1.722c1.295 0 2.464-.658 3.088-1.632l-.674-.431c-.473.737-1.384 1.263-2.415 1.263v.8zm2.41-1.637c.309.498.741.91 1.255 1.196l.39-.699a2.644 2.644 0 01-.964-.918l-.68.42zm1.255 1.196a3.501 3.501 0 001.684.441l.004-.8a2.7 2.7 0 01-1.299-.34l-.389.699zm1.684.441a3.504 3.504 0 001.689-.422l-.382-.704a2.702 2.702 0 01-1.303.326l-.004.8zm1.689-.422c.517-.281.954-.688 1.268-1.183l-.676-.428c-.24.379-.575.691-.974.907l.382.704zm.592-1.183c.312.492.746.897 1.26 1.178l.383-.702a2.646 2.646 0 01-.967-.904l-.676.428zm1.26 1.178c.513.28 1.09.427 1.677.427v-.8c-.453 0-.898-.113-1.294-.33l-.383.703zm1.677.427c.587 0 1.165-.147 1.678-.427l-.383-.702c-.396.216-.841.33-1.294.33v.8zm1.678-.427c.514-.28.948-.686 1.26-1.178l-.675-.428a2.646 2.646 0 01-.968.904l.383.702zm.585-1.178c.312.492.745.897 1.26 1.178l.383-.702a2.647 2.647 0 01-.968-.904l-.675.428zm1.26 1.178c.513.28 1.09.427 1.677.427v-.8c-.453 0-.899-.113-1.294-.33l-.384.703zm1.677.427c.587 0 1.164-.147 1.678-.427l-.383-.702c-.396.216-.841.33-1.295.33v.8zm1.678-.427c.514-.28.948-.686 1.26-1.178l-.675-.428c-.24.376-.572.688-.968.904l.383.702zm.583-1.18c.309.496.743.905 1.259 1.186l.383-.702a2.6 2.6 0 01-.963-.907l-.68.422zm1.259 1.186a3.458 3.458 0 001.686.421l-.007-.8c-.454.004-.9-.107-1.296-.323l-.383.702zm1.682.421h.008v-.8h-.008v.8zm-.392-.4l-.008 14.616h.8l.008-14.616h-.8zm2.198-2.647c0 .794-.708 1.481-1.808 1.481v.8c1.417 0 2.608-.93 2.608-2.281h-.8zm-1.808 1.481c-1.03 0-1.812-.764-1.812-1.634h-.8c0 1.373 1.205 2.434 2.612 2.434v-.8zm-2.212-1.634h.4v-.001-.001-.001-.001-.001-.001-.001-.001h-.8v.007h.4zm.4-.009v-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001h-.8V10.809h.8zm0-.02v-.02h-.8v.02h.8zm-.003-.067a.36.36 0 010 .084l-.794-.092a.437.437 0 000 .1l.794-.092zm-.002-.023l-1.39-8.99-.79.122 1.39 8.99.79-.122zm-1.785-8.53h3.623v-.8h-3.623v.8zm3.234-.305l2.188 9.088.778-.187-2.189-9.089-.777.188zm2.177 8.992v.112l.8.005v-.112l-.8-.005z' fill='%2300A3E8' mask='url(%23a)'/%3E%3Cpath d='M16.706 16.8H7.294a.483.483 0 00-.355.158.533.533 0 00-.139.36v6.363c0 .133.048.263.14.361a.483.483 0 00.354.158h9.412a.483.483 0 00.355-.158.533.533 0 00.139-.36v-6.363a.533.533 0 00-.14-.361.483.483 0 00-.354-.158zm-.494 6.363H7.788v-5.326h8.424v5.326z' fill='%2300A3E8' stroke='%2300A3E8' stroke-width='.4'/%3E%3C/svg%3E");
      }
    }

    .icon-gas {
      @media screen and (min-width: 768px) {
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8797 15.1699L11.6177 14.4952L10.8718 13.6792L10.1345 14.503L10.8797 15.1699ZM10.8797 15.1699C11.6177 14.4952 11.6178 14.4953 11.6179 14.4954L11.6182 14.4957L11.6189 14.4965L11.6211 14.4989L11.6287 14.5073L11.6562 14.5377C11.6798 14.5639 11.7136 14.6016 11.7562 14.6498C11.8414 14.7461 11.9621 14.8841 12.1064 15.0541C12.3942 15.393 12.7802 15.8637 13.1685 16.386C13.5539 16.9045 13.9565 17.4939 14.2672 18.068C14.5565 18.6026 14.8522 19.2753 14.8522 19.9159C14.8522 22.213 13.1859 24.0848 10.8797 24.0848C8.5796 24.0848 6.91602 22.2211 6.91602 19.9299C6.91602 19.2983 7.21372 18.6282 7.49932 18.0997C7.80806 17.5283 8.20833 16.9371 8.59182 16.4148C8.9781 15.8888 9.36225 15.4128 9.64867 15.0694C9.7923 14.8972 9.91234 14.7572 9.99706 14.6596C10.0395 14.6108 10.0731 14.5725 10.0964 14.546L10.1237 14.5152L10.1312 14.5067L10.1334 14.5043L10.1341 14.5035L10.1343 14.5032C10.1344 14.5031 10.1345 14.503 10.8797 15.1699Z' stroke='%2300A3E8' stroke-width='2'/%3E%3Cpath d='M1 5.99999C1 3.23857 3.23857 1 6 1H15.766C18.5274 1 20.766 3.23858 20.766 6V29.6596C20.766 30.2119 20.3182 30.6596 19.766 30.6596H2C1.44772 30.6596 1 30.2119 1 29.6596V5.99999Z' stroke='%2300A3E8' stroke-width='2'/%3E%3Cpath d='M21.7656 13.6624H22.0529C24.262 13.6624 26.0529 15.4533 26.0529 17.6624V19.9519C26.0529 21.3179 27.1602 22.4253 28.5263 22.4253V22.4253C29.8923 22.4253 30.9997 21.3179 30.9997 19.9519V8.75969C30.9997 7.98778 30.7763 7.23235 30.3566 6.58454L27.372 1.97852' stroke='%2300A3E8' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      }
    }
  }
}
