.profit-section {
  padding: 45px 0 65px;
  background-color: $main-color;
  @media screen and (min-width: 768px) {
    padding: 115px 0 120px;
  }

  .btn {
    margin-top: 60px;
  }

  .title {
    margin-bottom: 68px;
    @media screen and (min-width: 768px) {
      margin-bottom: 85px;
    }
  }

  .col {
    &:last-child {
      .profit {
        margin-bottom: 0;
      }
    }
  }
}
