section.profit-section
	.container
		.title
			h2.title__name ЗАПРАВЬТЕСЬ ВЫГОДНО
			p.title__sub С программой лояльности «Нам по Пути»
		.row
			.col.col-12.col-xl-4
				.profit
					.profit__wrap
						.profit__img
							img(src="images/profit1.svg", alt="")
						.profit__info
							.profit__title-wrap
								span.profit__num 01
								span.profit__title Заправляйтесь бонусами
							p.profit__descr Копите бонусы с каждой покупкой на АЗС. Оплачивайте топливо и сопутствующие товары накопленными бонусами. 
			.col.col-12.col-xl-4
				.profit
					.profit__wrap
						.profit__img
							img(src="images/profit2.svg", alt="")
						.profit__info
							.profit__title-wrap
								span.profit__num 02
								span.profit__title Копите еще больше
							p.profit__descr Находите акции и промо-коды и выигрывайте еще больше выгоды с картой лояльности.
			.col.col-12.col-xl-4
				.profit
					.profit__wrap
						.profit__img
							img(src="images/profit3.svg", alt="")
						.profit__info
							.profit__title-wrap
								span.profit__num 03
								span.profit__title Персональные предложения
							p.profit__descr Не нашли подходящее предложение? Получайте предложения, которые точно будут вам интересны в мобильном приложении.
		.btn-wrap
			a(href="#").btn.primary О ПРОГРАММЕ