section.all-stocks-section.bottom-line
	.container
		.title.black
			h2.title__name ВСЕ АКЦИИ
		
		.stocks-slider.js-stocks-slider
			.swiper-wrapper
				.swiper-slide
					.stock
						.stock__wrap
							img(src="images/s1.jpg", alt="")
						.stock__banner.orange
							span.stock__banner-text Кэшбэк 10%
						.stock__info
							span.stock__date ДО 15 АВГУСТА 2019
							h3.stock__name Кофе в подарок
							p.stock__text Приобретайте 5 чашек кофе и получайте шестую чашку в подарок! шку в подарок!
							a(href="#").arrow-btn

				.swiper-slide
					.stock
						.stock__wrap
							img(src="images/s2.jpg", alt="")
						.stock__banner.green
							span.stock__banner-text Кэшбэк 10%
						.stock__info
							span.stock__date ДО 15 АВГУСТА 2019
							h3.stock__name Кофе в подарок
							p.stock__text Приобретайте 5 чашек кофе и получайте шестую чашку в подарок! шку в подарок!
							a(href="#").arrow-btn
				.swiper-slide
					.stock
						.stock__wrap
							img(src="images/s3.jpg", alt="")
						.stock__banner.blue
							span.stock__banner-text Кэшбэк 10%
						.stock__info
							span.stock__date ДО 15 АВГУСТА 2019
							h3.stock__name Кофе в подарок
							p.stock__text Приобретайте 5 чашек кофе и получайте шестую чашку в подарок! шку в подарок!
							a(href="#").arrow-btn
				.swiper-slide
					.stock
						.stock__wrap
							img(src="images/s1.jpg", alt="")
						.stock__banner.green
							span.stock__banner-text Кэшбэк 10%
						.stock__info
							span.stock__date ДО 15 АВГУСТА 2019
							h3.stock__name Кофе в подарок
							p.stock__text Приобретайте 5 чашек кофе и получайте шестую чашку в подарок! шку в подарок!
							a(href="#").arrow-btn
				.swiper-slide
					.stock
						.stock__wrap
							img(src="images/s2.jpg", alt="")
						.stock__banner.orange
							span.stock__banner-text Кэшбэк 10%
						.stock__info
							span.stock__date ДО 15 АВГУСТА 2019
							h3.stock__name Кофе в подарок
							p.stock__text Приобретайте 5 чашек кофе и получайте шестую чашку в подарок! шку в подарок!
							a(href="#").arrow-btn
			.swiper-nav
				.swiper-button.swiper-button-prev
				.swiper-button.swiper-button-next
				.swiper-pagination

		.btn-wrap
			a(href="#").btn.primary ПОСМОТРЕТЬ ВСЕ
