.all-stocks-section {
  padding: 124px 0 140px;
}

.stocks-slider {
  position: relative;
  margin-bottom: 72px;

  .swiper-nav {
    position: absolute;
    right: 0;
    top: -72px;
    display: flex;
    align-items: center;
    width: 98px;
    height: 48px;
  }

  .swiper-button {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    width: 48px;
    height: 48px;
    transition: $base-transition;
    border: 1px solid $menu-link;
    background-position: center;
    background-size: 22%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='11' viewBox='0 0 7 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.853516 1.35352L5.08761 5.58761L0.853516 9.8217' stroke='%235E5E5D' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");

    &:hover {
      border: 1px solid $bg-btn;
      background-image: url("data:image/svg+xml,%3Csvg width='7' height='11' viewBox='0 0 7 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.853516 1.35352L5.08761 5.58761L0.853516 9.8217' stroke='%2300A3E8' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    }

    &:after {
      display: none;
    }

    &.swiper-button-disabled {
      opacity: 0.3;
    }

    &.swiper-button-prev {
      right: -1px;
      transform: rotate(180deg);
    }
  }

  .swiper-pagination {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

.stock {
  overflow: hidden;
  cursor: pointer;

  &:hover {
    .stock__info {
      visibility: visible;
      opacity: 1;
      bottom: 0;
    }
  }

  &__wrap {
    position: relative;

    img {
      width: 100%;
    }
  }

  &__banner {
    position: absolute;
    bottom: 32px;
    right: 0;
    padding: 20px 24px;

    &.orange {
      background-color: rgba(240, 86, 34, 0.9);
    }

    &.blue {
      background-color: rgba(0, 113, 206, 0.9);
    }

    &.green {
      background-color: rgba(149, 214, 0, 0.9);
    }
  }

  &__banner-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $white;
  }

  &__info {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    padding: 39px 36px 120px;
    background-color: $main-color;
    color: $white;
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease-in-out;

    .arrow-btn {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
  }

  &__date {
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(143, 205, 255, 0.8);
    margin-bottom: 17px;
  }

  &__name {
    position: relative;
    font-size: 32px;
    line-height: 0.9;
    padding-bottom: 20px;
    margin-bottom: 20px;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 48px;
      height: 1px;
      background-color: $bg-btn;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.8;
  }
}
