include bem

doctype html
html(lang='ru')
	include head
	body(class=pageClass)
		.wrapper
			block header
			block content
			block footer
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		block script
		//- script(src='js/jquery-3.4.1.min.js')
		script(src='js/libs/libs.min.js')
		script(src='js/app.js')
