.footer {
  padding: 24px 0 17px;
  background-color: $main-color;

  @media screen and (min-width: 768px) {
    padding: 24px 0 28px;
  }

  .top-footer {
    padding-bottom: 24px;

    @media screen and (min-width: 768px) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .link {
      @media screen and (min-width: 1200px) {
        margin-right: 45px;
      }
    }
  }

  .soc-wrap {
    margin: 20px auto 0;
    width: 100%;

    @media screen and (min-width: 768px) {
      width: auto;
      margin: 0;
      order: 2;
    }

    @media screen and (min-width: 1200px) {
      margin: 0 0 0 auto;
    }

    .link {
      margin-right: 12px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .menu-wrap {
    margin: 30px 0;
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
    }

    @media screen and (min-width: 1200px) {
      margin: 60px 0;
    }

    .menu-title {
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $white;
      position: relative;
      padding-bottom: 10px;
      margin-bottom: 25px;

      @media screen and (min-width: 1200px) {
        padding-bottom: 24px;
        margin-bottom: 45px;
      }

      &:before {
        position: absolute;
        content: "";
        height: 1px;
        width: 48px;
        bottom: 0;
        left: 0;
        background-color: $bg-btn;
      }
    }

    nav {
      margin-bottom: 35px;

      @media screen and (min-width: 1200px) {
        margin: 0;
      }
    }

    li {
      margin-bottom: 14px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      font-size: 16px;
      color: $white;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .bottom-wrap {
    padding: 8px 0 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    @media screen and (min-width: 768px) {
      padding: 25px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    .link {
      margin-right: 12px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .link-wrap {
    a {
      font-size: 14px;
      color: $white;
      margin-right: 32px;
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.6);
      margin: 0 auto;

      @media screen and (min-width: 768px) {
        margin: 0 0 0 auto;
      }
    }
  }

  .store-wrap {
    .link {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
      }
    }

    .link_mob {
      display: block;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }
}

.js-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 61, 69, 0.9);
  opacity: 0;
  visibility: hidden;
  z-index: -1;

  &.active {
	  visibility: visible;
	  opacity: 1;
	  z-index: 1;
  }
}
