footer.footer
	.container
		.top-footer.d-flex.flex-wrap.align-items-start.justify-content-between.align-items-md-center.justify-content-xl-start
			a(href="tel:+88007005151").link.link_nosqr.order-md-1
				.link__square
					.link__img
						img(src="images/phone.svg", alt="")
				.link__info
					span.link__number 8 800 700 51 51
					p.link__subtitle Единый центр поддержки клиентов
			a(href="#").link.link_mail.order-md-3.order-xl-2
				.link__square
					.link__img
						img(src="images/mail.svg", alt="")
					span.link__name Напишите нам
				.link__info
					span.link__title Напишите нам
			.soc-wrap.d-flex.justify-content-center.order-md-2.order-xl-3
				a(href="#").link
					.link__square
						.link__img
							img(src="images/fb.svg", alt="")
				a(href="#").link
					.link__square
						.link__img
							img(src="images/inst.svg", alt="")
				a(href="#").link
					.link__square
						.link__img
							img(src="images/vk.svg", alt="")
				a(href="#").link
					.link__square
						.link__img
							img(src="images/ok.svg", alt="")
				a(href="#").link
					.link__square
						.link__img
							img(src="images/viber.svg", alt="")

		.menu-wrap.row
			.col.col-md-6.col-lg-3
				nav.d-flex.flex-column
					span.menu-title Заправиться
					ul
						li
							a(href="#") Найти АЗС
						li
							a(href="#") Линейки топлива
						li
							a(href="#") Система качества
			.col.col-md-6.col-lg-3
				nav.d-flex.flex-column
					span.menu-title В дорогу
					ul
						li
							a(href="#") Drive Cafe
						li
							a(href="#") Товары
						li
							a(href="#") Сервисы
			.col.col-md-6.col-lg-3
				nav.d-flex.flex-column
					span.menu-title Программа лояльности
					ul
						li
							a(href="#") Акции
						li
							a(href="#") О программе
						li
							a(href="#") Стать участником
						li
							a(href="#") Правила программы
						li
							a(href="#") Калькулятор бонусов
						li
							a(href="#") Подобрать карту
						li
							a(href="#") Частые вопросы
			.col.col-md-6.col-lg-3
				nav.d-flex.flex-column
					span.menu-title Компания
					ul
						li
							a(href="#") Новости
						li
							a(href="#") Стать партнером
						li
							a(href="#") Контакты
						li
							a(href="#") Помощь
		
		.bottom-wrap.d-flex.flex-wrap.justify-content-center.justify-content-md-between
			.store-wrap.d-flex
				a(href="#").link
					.link__square.link__square_name
						.link__img
							img(src="images/apple.svg", alt="")
						span.link__name Apple Store
				a(href="#").link
					.link__square.link__square_name
						.link__img
							img(src="images/google.svg", alt="")
						span.link__name Google Play
				a(href="#").link.link_mob
					.link__square
						.link__img
							img(src="images/apple.svg", alt="")
						span.link__name Скачать в Apple Store
			.brand-wrap.d-flex.justify-content-between
				.brand.d-flex.align-items-center
					.brand__img
						img(src="images/brand.svg", alt="")
					span.brand__title Брэнд года 2010
				.brand.d-flex.align-items-center
					.brand__img
						img(src="images/brand.svg", alt="")
					span.brand__title Брэнд года 2015
		.link-wrap.d-flex
			a(href="#") Карта сайта
			a(href="#") Политика обработки персональных данных
			p © 2011 ООО «Газпромнефть-Центр»

.mask.js-mask


