.profit {
	max-width: 350px;
	width: 100%;
	margin: 0 auto 80px;
	@media screen and (min-width: 768px) {
		max-width: 705px;
		margin: 0 auto 135px;
	}
	@media screen and (min-width: 1200px) {
		max-width: 350px;
		margin: 0 auto;
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@media screen and (min-width: 768px) {
			flex-direction: row;
			align-items: center;
		}
		@media screen and (min-width: 1200px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__img {
		flex: none;
		max-width: 232px;
		min-height: 175px;
		display: flex;
		align-items: flex-end;
		margin: 0 auto 38px;
		@media screen and (min-width: 768px) {
			max-width: 270px;
			min-height: 200px;
			margin: 0 120px 0 0;
		}
		@media screen and (min-width: 1200px) {
			margin: 0 0 50px;
		}
		img {
			width: 100%;
			height: auto;
		}
	}

	&__title-wrap {
		display: flex;
		margin-bottom: 15px;
		@media screen and (min-width: 768px) {
			margin-bottom: 45px;
		}
	}

	&__num {
		font-weight: 300;
		margin-right: 8px;
		line-height: 100%;
		font-size: 72px;
		color: $bg-btn;
		text-shadow: 0px 18px 30px rgba(0, 108, 177, 0.46);
		@media screen and (min-width: 768px) {
			font-size: 76px;
			margin-right: 15px;
		}
	}

	&__title {
		max-width: 175px;
		width: 100%;
		font-size: 20px;
		line-height: 133%;
		color: $white;
		position: relative;
		@media screen and (min-width: 768px) {
			font-size: 24px;
			max-width: 210px;
		}
		&:after {
			position: absolute;
			content: "";
			width: 48px;
			height: 1px;
			background-color: $bg-btn;
			left: 0;
			bottom: 0;
		}
	}

	&__descr {
		max-width: 325px;
		width: 100%;
		font-size: 16px;
		line-height: 181%;
		color: $white;
	}
}
